/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 예시용: 페이지 전환 시 부드러운 전환 효과 */
html {
  scroll-behavior: smooth;
}

.btn {
  @apply relative inline-flex items-center justify-center
    px-8 py-2 rounded-2xl font-semibold
    shadow-md
    active:scale-95
    transition duration-200;

  @apply border border-white/20
    ring-1 ring-slate-900/10
    backdrop-blur-sm;
}

.side-status-title {
  @apply text-xs
}

.btn-text {
  @apply text-2xl font-medium
}

.btn-sm {
  @apply relative inline-flex items-center justify-center
    px-2 py-1 rounded-lg font-semibold
    shadow-md
    active:scale-95
    transition duration-200;

  @apply border border-white/20
    ring-1 ring-slate-900/10
    backdrop-blur-sm;
}

.btn-text-sm {
  @apply text-lg font-medium
}

.fms-bt {
  @apply border-b-2 border-b-slate-600 mb-2
}

.device-inspection-icon-btn {
  @apply flex flex-col space-y-2 place-items-center justify-center
    py-2 rounded-xl font-semibold
    shadow-md
    active:scale-95
    transition duration-200;

  @apply border border-white/40
    ring-1 ring-slate-900/10
    backdrop-blur-sm;
}